:root{
    /* Colores */
    --header-green: #006D4BCC;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* <-------- header container --------> */
.header{
    background-color: var(--header-green);
    width: 97vw;
    height: 84.3px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: height 0.3s ease;
    min-width: 320px;
}

.container_header{
    width: 95vw;
    min-width: 320px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menuButton{
    display: none;
}

.logo_img{
    width: 154px;
    height: 87px;
    cursor: pointer;
}

.nav{
    width: 1000px;
    min-width: 649px;
}

.nav_ul{
    list-style: none;
    display: flex;
    justify-content: start;
}
.nav_ul_li{
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
}

.precalificateLi{
    background-color: white;
    border-radius: 50px;
}

.nav_ul_li .precalificateA{
    color: #006D4B;
    font-weight: bold;
}

.nav_ul_li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 4vw;
    padding: 8px;
    font-weight: bold;
    color: white;
}

/* <-------- main container --------> */

.main{
    width: 100%;
}

/* <-------- main container section 1 --------> */

.main_section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    min-height: 500px;
    z-index: 1;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('../img/quienes.webp') no-repeat;
    background-size: cover;
    background-position: top;
}

.main_section1_h1{
    color: white;
    font-size: 8rem;
    margin-bottom: 15px;
    margin-top: 60px;
}

.main_section1_hr{
    width: 70px;
    height: 7px;
    background-color: white;
    margin-bottom: 35px;
}

/* <-------- main container section 2 --------> */

.main_section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    z-index: 1;
}

.main_section2_h1{
    max-width: 730px;
    text-align: center;
    color: #107353;
    font-size: 4.6rem;
    margin-bottom: 15px;
}

.main_section2_hr{
    width: 75px;
    height: 8px;
    background-color: #107353;
    margin-bottom: 35px;
}

.main_section2_h3{
    width: 75%;
    font-weight: 500;
    color: black;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

/* <-------- main container section 3 --------> */

.main_section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    min-height: 750px;
    z-index: 1;
    background-color: #f0f0f0;
}

.main_section3_h1{
    max-width: 730px;
    text-align: center;
    color: #107353;
    font-size: 4.6rem;
    margin-bottom: 15px;
}

.main_section3_h3{
    width: 75%;
    font-weight: 500;
    color: black;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.main_section3_figure_imageSold{
    display: flex;
}

.main_section3_img{
    width: 90%;
    height: auto;
    max-width: 615px;
    margin: 0 auto;

}

/* <-------- main container section 4 --------> */

.main_section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    min-height: 750px;
    z-index: 1;
}

.main_section4_h1{
    max-width: 730px;
    text-align: center;
    color: #107353;
    font-size: 4.6rem;
    margin-bottom: 15px;
}

.main_section4_h3{
    width: 75%;
    font-weight: 500;
    color: black;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.main_section4_figure_imageSold{
    display: flex;
}

.main_section4_img{
    width: 90%;
    height: auto;
    max-width: 615px;
    margin: 0 auto;

}


/* <-------- main container section 5 --------> */

.main_section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    min-height: 750px;
    z-index: 1;
    background-color: #f0f0f0;
}

.main_section5_h1{
    max-width: 730px;
    text-align: center;
    color: #107353;
    font-size: 4.6rem;
    margin-bottom: 15px;
}

.main_section5_ul{
    list-style: none;
    width: 750px;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: space-around;
    flex-wrap: wrap;
}

.main_section5_ul_li{
    width: 230px;
    height: 45px;
    border-radius: 15px;
    color: white;
    background-color: #107353;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid .5px #28a745;
    font-weight: bold;
}

.main_section5_figure_imageSold{
    display: flex;
}

.main_section5_img{
    width: 90%;
    height: auto;
    max-width: 615px;
    margin: 0 auto;

}


/* <-------- main container section 6 --------> */

.main_section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    min-height: 650px;
    z-index: 1;
}

.main_section6_h1{
    max-width: 730px;
    text-align: center;
    color: #107353;
    font-size: 4.6rem;
    margin-bottom: 15px;
}

.main_section6_figure_imageSold{
    display: flex;
}

.main_section6_img{
    width: 80%;
    height: auto;
    max-width: 615px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.main_section6_h3{
    width: 60%;
    font-weight: 500;
    color: black;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

/* <-------- footer container --------> */
.footer{
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
}

.footer_section1{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.footer_logo_img{
    width: 300px;
    height: auto;

}

.footer_section1_container_links{
    height: 130px;
}

.footer_section1_container_links_h3{
    font-size: 3rem;
    color: #107353;
    margin-bottom: 15px;
}

.footer_section1_container_links_ul{
    list-style: none;
}
.footer_section1_container_links .redesSociales{
    display: flex;
}

.footer_section1_container_links_ul_li a{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.redesSociales_li{
    width: 50px;
    height: 50px;
}

.redesSociales_li a{
    width: 50px;
    height: 50px;
}

.redesSociales_li a img{
    width: 100%;
    height: 100%;
}

.footer_section2{
    background-color: #107353;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    text-decoration: underline;
}

.footer_section3{
    background-color: #f0f0f0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

@media (max-width: 1021px){
    .main_section2{
        height: 400px;
    }
    .main_section2_h1{
        font-size: 5rem;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 991px){
    .header{
        display: flex;
        align-items: start;
    }

    .container_header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .container_header div {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .nav{
        max-width: 900px;
        display: none;
        opacity: 0; /* Inicialmente oculta la navegación */
        transition: opacity 0.3s ease;
    }

    .nav_ul{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 20px;
    }

    .nav_ul_li{
        margin-bottom: 7px;
    }

    .precalificateLi{
        width: 231px;
        min-width: 100px;
    }

    .menuButton{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 40px;
        cursor: pointer;
    }

    .logoMenu{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 900px){
    /* <-------- main container section 1 mobile --------> */
    .main_section1_h1{
        font-size: 5rem;
        text-align: center;
    }
    
    .main_section1_hr{
        width: 57px;
        height: 7px;
        background-color: white;
        margin-bottom: 35px;
    }

    /* <-------- main container section 2 mobile --------> */
    .main_section2{
        height: 400px;
    }
    .main_section2_h1{
        width: 95%;
        font-size: 3.5rem;
        text-align: center;
    }
    
    .main_section2_h3{
        font-size: 2rem;
        text-align: center;
        width: 75%;
    }

    /* <-------- main container section 3 mobile --------> */

    .main_section3_h1{
        width: 90%;
        font-size: 3.5rem;
        margin-bottom: 15px;
    }
    
    .main_section3_hr{
        width: 77px;
        height: 5px;
    }

    .main_section3_h3{
        font-size: 2rem;
    }

    /* <-------- main container section 4 mobile --------> */

    .main_section4_h1{
        width: 90%;
        font-size: 3.5rem;
        margin-bottom: 15px;
    }

    .main_section4_h3{
        font-size: 2rem;
    }

    /* <-------- main container section 6 mobile --------> */

    .main_section6_h1{
        width: 90%;
        font-size: 3.5rem;
        margin-bottom: 15px;
    }

    .main_section6_h3{
        font-size: 2rem;
    }
}

@media (max-width: 797px){

    .section3_container_info{
        width: 300px;
        justify-content: center;
    }

    .main_section5_h1{
        margin-top: 20px;
    }

    .main_section5_ul{
        width: 600px;
        height: 400px;
    }

    .main_section5_img{
        margin-bottom: 20px;
    }
    
}

@media (max-width: 600px){
    .main_section3-img{
        width: 90%;
    }

    .main_section4-img{
        width: 90%;
    }

    .main_section5_ul{
        width: 90vw;
    }

    .main_section5_ul_li{
        width: 200px;
    }

    .main_section5-img{
        width: 90%;
    }
}

@media (max-width: 510px){
    .main_section2{
        min-height: 500px;
    }
}

@media (max-width: 413px){
    .main_section1_h1{
        font-size: 4rem;
        text-align: center;
    }
    
    .main_section1_hr{
        width: 57px;
        height: 7px;
        background-color: white;
        margin-bottom: 35px;
    }
    
    .main_section1_h3{
        font-size: 2.5rem;
        text-align: center;
    }
    
    .main_section1_a{
        font-size: 1rem;
        width: 250px;
        height: 50px;
    }

    .main_section2_h1{
        width: 95%;
        font-size: 3rem;
        text-align: center;
    }
    
    .main_section2_h3{
        font-size: 1.6rem;
        text-align: center;
        width: 80%;
    }
}
