:root{
    /* Colores */
    --header-green: #006D4BCC;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* <-------- header container --------> */
.header{
    background-color: var(--header-green);
    width: 97vw;
    height: 84.3px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: height 0.3s ease;
}

.container_header{
    width: 95vw;
    min-width: 320px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menuButton{
    display: none;
}

.logo_img{
    width: 154px;
    height: 87px;
    cursor: pointer;
}

.nav{
    width: 1000px;
    min-width: 649px;
}

.nav_ul{
    list-style: none;
    display: flex;
    justify-content: start;
}
.nav_ul_li{
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
}

.precalificateLi{
    background-color: white;
    border-radius: 50px;
}

.nav_ul_li .precalificateA{
    color: #006D4B;
    font-weight: bold;
}

.nav_ul_li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 4vw;
    padding: 8px;
    font-weight: bold;
    color: white;
}

/* <-------- main container --------> */

.main{
    width: 100%;
}

/* <-------- main container section 1 --------> */

.main_section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    min-height: 500px;
    z-index: 1;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('../img/aviso-de-privacidad.webp') no-repeat;
    background-size: cover;
    background-position: top;
}

.main_section1_h1{
    color: white;
    font-size: 7rem;
    margin-bottom: 15px;
}

.main_section1_hr{
    width: 57px;
    height: 7px;
    background-color: white;
    margin-bottom: 35px;
}

.main_section1_a{
    width: 340px;
    height: 74px;
    background-color: #107353;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    text-decoration: none;
    font-weight: bold;
    border: solid .5px #28a745;
}

/* <-------- main container section 2 --------> */

.main_section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    min-height: 750px;
    z-index: 1;
}

.main_section2_h2{
    width: 80%;
    margin-top: 50px;
    text-align: left;
    color: #107353;
    font-size: 4.6rem;
    margin-bottom: 15px;
}

.main_section2_h4{
    width: 80%;
    font-weight: 500;
    color: #167255;
    font-size: 2.2rem;
    margin-bottom: 30px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.main_section2_p{
    width: 80%;
    line-height: 1.3;
    font-weight: 500;
    color: black;
    font-size: 2.2rem;
    margin-bottom: 30px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.main_section2_figure_img{
    margin: 40px;
}

/* <-------- footer container --------> */
.footer{
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
}

.footer_section1{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.footer_logo_img{
    width: 300px;
    height: auto;

}

.footer_section1_container_links{
    height: 130px;
}

.footer_section1_container_links_h3{
    font-size: 3rem;
    color: #107353;
    margin-bottom: 15px;
}

.footer_section1_container_links_ul{
    list-style: none;
}
.footer_section1_container_links .redesSociales{
    display: flex;
}

.footer_section1_container_links_ul_li a{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.redesSociales_li{
    width: 50px;
    height: 50px;
}

.redesSociales_li a{
    width: 50px;
    height: 50px;
}

.redesSociales_li a img{
    width: 100%;
    height: 100%;
}

.footer_section2{
    background-color: #107353;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    text-decoration: underline;
}

.footer_section3{
    background-color: #f0f0f0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

@media (max-width: 1185px){

    .main_section3_h1{
        margin-top: 30px;
    }

    .section3_container_info{
        width: 600px;
        height: auto;
    }

    .section3_container_info_item{
        margin-bottom: 30px;
    }
    
}

@media (max-width: 991px){
    .header{
        display: flex;
        align-items: start;
    }

    .container_header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .container_header div {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .nav{
        max-width: 900px;
        display: none;
        opacity: 0; /* Inicialmente oculta la navegación */
        transition: opacity 0.3s ease;
    }

    .nav_ul{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 20px;
    }

    .nav_ul_li{
        margin-bottom: 7px;
    }

    .precalificateLi{
        width: 231px;
        min-width: 100px;
    }

    .menuButton{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 40px;
        cursor: pointer;
    }

    .logoMenu{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 900px){
    /* <-------- main container section 1 mobile --------> */
    .main_section1_h1{
        font-size: 5rem;
        text-align: center;
    }
    
    .main_section1_hr{
        width: 57px;
        height: 7px;
        background-color: white;
        margin-bottom: 35px;
    }
    
    .main_section1_h3{
        font-size: 3rem;
        text-align: center;
    }
    
    .main_section1_a{
        font-size: 1.4rem;
        width: 320px;
    }
}

@media (max-width: 700px){
    .main_section2_figure{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main_section2_figure_img{
        width: 70%;
    }
}


@media (max-width: 413px){
    .main_section1_h1{
        font-size: 4rem;
        text-align: center;
    }
    
    .main_section1_hr{
        width: 57px;
        height: 7px;
        background-color: white;
        margin-bottom: 35px;
    }
    
    .main_section1_h3{
        font-size: 2.5rem;
        text-align: center;
    }
    
    .main_section1_a{
        font-size: 1rem;
        width: 250px;
        height: 50px;
    }
}
