{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/businessCredit.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Contacto{% endblock %}


{% block content %}
    <main class="main">
        <section class="main_section1">
            <h1 class="main_section1_h1">CRÉDITO EMPRESARIAL</h1>
            <hr class="main_section1_hr">
            <h3 class="main_section1_h3">Elige el mejor financiamiento para tu empresa</h3>
            <a class="main_section1_a" href="#main_section3">OPCIONES DE CRÉDITO EMPRESARIAL</a>
        </section>
        <section class="main_section2">
            <h2 class="main_section2_h2">¿EN QUE CONSISTE NUESTROS SERVICIOS?</h2>
            <h3 class="main_section2_h3">Te asesoramos sin costo en la selección del crédito empresarial que requiera tu empresa; resolvemos tus dudas y te acompañamos en todo momento desde inicio a fin. Créditos dedicados a financiar los proyectos o necesidades para que tu empresa crezca y cumpla sus objetivos.</h3>
            <figure class="main_section2_figure_imageSold">
                <img class="main_section2_img" src="{% static 'core/img/media.webp' %}" alt="Dos mujeres en una junta de trabajo">
            </figure>
        </section>
        <section id="main_section3" class="main_section3">
            <h2 class="main_section3_h2">¿ESTAS INTERESADO?</h2>
            <hr class="main_section3_hr">
            <h3 class="main_section3_h3">¡Comunícate con nosotros, un asesor se contactara contigo lo mas rápido posible!</h3>
            <a class="main_section3_a" href="{% url 'contacto' %}">CONTACTO</a>
        </section>
    </main>
{% endblock %}