{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/constructionLoan.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Contacto{% endblock %}

{% block content %}


    <main class="main">



        <section class="main_section1">
            <p class="main_section1_p">CRÉDITO HIPOTECARIO</p>
            <h1 class="main_section1_h1">CRÉDITO PARA<br>CONSTRUCCIÓN</h1>
            <hr class="main_section1_hr">
        </section>



        <section class="main_section2">
            <h2 class="main_section2_h2">CONOCE EL CRÉDITO PARA CONSTRUCCIÓN</h2>
            <hr class="main_section2_hr">
            <h3 class="main_section2_h3">Construye tu casa con el apoyo de un crédito hipotecario, te financiamos hasta el 100% de tu proyecto de obra si ya eres dueño del terreno. También se puede otorgar financiamiento de hasta el 80% para comprar un terreno y construir tu casa.</h3>
        </section>




        <section class="main_section3">
            <div class="main_section3_div">
                <h2 class="main_section3_div_h2">BENEFICIOS</h2>
                <div class="main_section3_div_container">
                    <ul class="main_section3_container_ul">
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Diseña tu hogar tal y como lo quieres según tus gustos y tus necesidades.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Aplica con Apoyo Infonavit.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">La mayoría de las instituciones no requieren que cuentes con un avance mínimo de obra.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Si el terreno se encuentra dentro de un desarrollo residencial en zona de alta plusvalía, el banco te puede otorgar hasta 90% del financiamiento para su compra.</li>
                        </div>

                    </ul>
                    <figure class="main_section3_container_figure">
                        <img src="{% static 'core/img/iconos/hogar.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="main_section4">
            <div class="main_section4_div">
                <h2 class="main_section4_div_h2">REQUISITOS Y CONDICIONES</h2>
                <div class="main_section4_div_container">
                    <ul class="main_section4_container_ul">
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Se requiere presupuesto y calendario de obra, así como licencia de construcción.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">En la mayoría de los casos, el financiamiento se entrega en parcialidades (ministraciones), según el avance de la obra.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">El banco puede realizar visitas para supervisar que los recursos son invertidos en la construcción del inmueble y se cuenta con un tiempo establecido para terminar la construcción.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">En algunas instituciones financieras es necesario que contar con una parte de los recursos económicos para la construcción.</li>
                        </div>

                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">El terreno queda como garantía ante la institución que otorga el financiamiento.</li>
                        </div>

                    </ul>
                    <figure class="main_section4_container_figure">
                        <img src="{% static 'core/img/iconos/calendario.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>




        <section class="main_section5">
            <div class="main_section5_div">
                <h2 class="main_section5_div_h2">¿POR QUÉ ASESORARSE CON ROGAFIN SONORA?</h2>
                <div class="main_section5_div_container">
                    <ul class="main_section5_container_ul">
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Ofrecemos una asesoría personalizada que permita obtener el producto financiero que mejor se adapte a su perfil y a sus necesidades.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Todas las opciones de financiamiento en un solo lugar.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Nos desplazamos al lugar y en el horario que sea más cómodo para el cliente.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Acompañamos en cada paso del proceso para que tenga mayor certidumbre y tranquilidad durante el trámite. Todo esto sin ningún costo.</li>
                        </div>

                    </ul>
                    <figure class="main_section5_container_figure">
                        <img src="{% static 'core/img/iconos/consulta.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>



        <section class="main_section6">
            <div class="main_section6_container">
                <a href="{% url 'contacto' %}" class="main_section6_container_button">COTIZA TU CRÉDITO PARA ADQUISICIÓN DE VIVIENDA</a>
                <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="main_section6_container_button_WhatsappA"></a>
            </div>
        </section>

    </main>
{% endblock %}
