{% extends 'core/base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'core/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block content %}


    <main class="main">



        <section class="main_section1">
            <h1 class="main_section1_h1">"DEJA TUS SUEÑOS<br> EN LAS MEJORES<br> MANOS"</h1>
            <h4 class="main_section1_h4">En Rogafin Sonora te<br> ayudamos a que puedas<br> encontrar tu crédito ideal</h4>
        </section>



        <section id="main_section2" class="main_section2">
            <h1 class="main_section2_h1">¡TE ASESORAMOS DESDE INICIO A FIN DE MANERA GRATUITA!</h1>
            <hr class="main_section2_hr">
            <div class="section2_container_info">
                <div class="section2_container_info_item">
                    <figure class="section2_container_info_item_figure">
                        <img class="section2_container_info_item_img" src="{% static 'core/img/chipotecario.webp' %}" alt="Familia cambiándose de casa">
                        <span class="section2_container_info_item_span">CRÉDITO<br><strong>HIPOTECARIO</strong></span>
                    </figure>
                    <p class="section2_container_info_item_p">Te ayudamos a elegir y tramitar la mejor alternativa de crédito hipotecario para ti.</p>
                    <div class="section2_container_info_item_links_container">
                        <a href="{% url 'hipotecario' %}" class="section2_container_info_item_links_infoA">MÁS INFORMACIÓN</a>
                        <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="section2_container_info_item_links_WhatsappA"></a>
                    </div>
                </div>
                <div class="section2_container_info_item">
                    <figure class="section2_container_info_item_figure">
                        <img class="section2_container_info_item_img" src="{% static 'core/img/cempresarial.webp' %}" alt="Dos personas estrechando sus manos">
                        <span class="section2_container_info_item_span">CRÉDITO<br><strong>EMPRESARIAL</strong></span>
                    </figure>
                    <p class="section2_container_info_item_p">Te ayudamos a elegir el mejor financiamiento que tu negocio necesita para crecer.</p>
                    <div class="section2_container_info_item_links_container">
                        <a href="{% url 'creditoEmpresarial' %}" class="section2_container_info_item_links_infoA">MÁS INFORMACIÓN</a>
                        <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="section2_container_info_item_links_WhatsappA"></a>
                    </div>
                </div>

                <div class="section2_container_info_item">
                    <figure class="section2_container_info_item_figure">
                        <img class="section2_container_info_item_img"  src="{% static 'core/img/cautomotriz.webp' %}" alt="Imagen de persona recibiendo su auto">
                        <span class="section2_container_info_item_span">CRÉDITO<br><strong>AUTOMOTRIZ</strong></span>
                    </figure>
                    <p class="section2_container_info_item_p">Te ayudamos a comparar y elegir la mejor opción que se adapte a tus necesidades.</p>
                    <div>
                        <div class="section2_container_info_item_links_container">
                            <a href="{% url 'prestamoAuto' %}" class="section2_container_info_item_links_infoA">MÁS INFORMACIÓN</a>
                            <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="section2_container_info_item_links_WhatsappA"></a>
                        </div>
                    </div>
                    
                </div>
                <div class="section2_container_info_item">
                    <figure class="section2_container_info_item_figure">
                        <img class="section2_container_info_item_img" src="{% static 'core/img/aseguros.webp' %}" alt="Persona firmando un contrato">
                        <span class="section2_container_info_item_span">ASESORÍA EN<br><strong>SEGUROS</strong></span>
                    </figure>
                    <p class="section2_container_info_item_p">Te asesoramos a elegir la mejor opción para protegerte a ti y a los que más amas.</p>
                    <div class="section2_container_info_item_links_container">
                        <a href="{% url 'asesoriaSeguros' %}" class="section2_container_info_item_links_infoA">MÁS INFORMACIÓN</a>
                        <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="section2_container_info_item_links_WhatsappA"></a>
                    </div>
                </div>
            </div>
        </section>



        <section class="main_section3">
            <h2 class="main_section3_h2"><strong class="main_section3_h2_juntos">JUNTOS</strong><br> <span class="main_section3_span">&nbsp;&nbsp;HACEMOS</span> REAL<br> <span class="main_section3_span">TUS</span> SUEÑOS</h2>
        </section>



        

        <section class="main_section4">
            <h2 class="main_section4_h2">¡TE ASESORAMOS DESDE INICIO A FIN DE MANERA GRATUITA!</h2>
            <hr class="main_section4_hr">
            <div class="main_section4_container">
                <div class="main_section4_container_items">
                    <div class="main_section4_container_items_title">CRÉDITO&nbsp;<strong>HIPOTECARIO</strong></div>
                    <button class="main_section4_container_items_images_slider_buttonLeft"><</button>
                    <div class="main_section4_container_items_images_slider">
                        <div class="main_section4_container_items_images_slider_div">
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/afirme.webp' %}" alt="Logo Afirme">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/banorte.webp' %}" alt="Logo Banorte">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/banregio.webp' %}" alt="Logo Banregio">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/citibanamex.webp' %}" alt="Logo Citybanamex">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/hsbc.webp' %}" alt="Logo HSBC">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/santander.webp' %}" alt="Logo Santander">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/scotiabank.webp' %}" alt="Logo Scotiabank">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/bxty.webp' %}" alt="Logo BX+">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/ION.webp' %}" alt="Logo ION">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/yave.webp' %}" alt="Logo Yave">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/tuCasaExpress.webp' %}" alt="Logo Tu casa express">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/kredi.svg' %}" alt="Logo Kredi">
                            </figure>
                        </div>
                    </div>
                    <button class="main_section4_container_items_images_slider_buttonRight">></button>
                </div>
                <div class="main_section4_container_items">
                    <div class="main_section4_container_items_title">CRÉDITO&nbsp;<strong>EMPRESARIAL</strong></div>
                    <button class="main_section4_container_items_images_slider_buttonLeft"><</button>
                    <div class="main_section4_container_items_images_slider">
                        <div class="main_section4_container_items_images_slider_div">
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/konfio.webp' %}" alt="Logo Konfio">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/covalto.webp' %}" alt="Logo Covalto">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/afirme.webp' %}" alt="Logo Afirme">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/banorte.webp' %}" alt="Logo Banorte">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/anticip.webp' %}" alt="Logo Anticip">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/creze.webp' %}" alt="Logo creze">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/pdn.webp' %}" alt="Logo PDN">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/bxty.webp' %}" alt="Logo BT+">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/Bien-para-Bien.webp' %}" alt="Logo Bien para bien">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/ION.webp' %}" alt="Logo ION">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/heybanco.webp' %}" alt="Logo Hey banco">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/activeLeasing.webp' %}" alt="Logo ActiveLeasing">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/engen.webp' %}" alt="Logo Engen">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/tip.webp' %}" alt="Logo TIP">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/finsus.webp' %}" alt="Logo Finsus">
                            </figure>
                        </div>
                    </div>
                    <button class="main_section4_container_items_images_slider_buttonRight">></button>
                </div>
                <div class="main_section4_container_items">
                    <div class="main_section4_container_items_title">CRÉDITO&nbsp;<strong>AUTOMOTRIZ</strong></div>
                    <button class="main_section4_container_items_images_slider_buttonLeft"><</button>
                    <div class="main_section4_container_items_images_slider">
                        <div class="main_section4_container_items_images_slider_div">
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/afirme.webp' %}" alt="Logo Afirme">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/heybanco.webp' %}" alt="Logo HEY">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/hsbc.webp' %}" alt="Logo HSBC">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/scotiabank.webp' %}" alt="Logo Scotiabank">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/bancos/bitCar.webp' %}" alt="Logo BitCar">
                            </figure>
                        </div>
                    </div>
                    <button class="main_section4_container_items_images_slider_buttonRight">></button>
                </div>
                <div class="main_section4_container_items">
                    <div class="main_section4_container_items_title">ASESORÍA EN&nbsp;<strong>SEGUROS</strong></div>
                    <button class="main_section4_container_items_images_slider_buttonLeft"><</button>
                    <div class="main_section4_container_items_images_slider">
                        <div class="main_section4_container_items_images_slider_div">
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/AXA.webp' %}" alt="Logo AXA">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/skandia.webp' %}" alt="Logo Skandia">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/gnp.webp' %}" alt="Logo GNP">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/anaseguros.webp' %}" alt="Logo Anaseguros">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/qualitas.webp' %}" alt="Logo Qualitas">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/gruposura.webp' %}" alt="Logo Gruposura">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/zurichseguros.webp' %}" alt="Logo zurich">
                            </figure>
                            <figure class="main_section4_container_items_images_figure">
                                <img src="{% static 'core/img/aseguradoras/gmx.webp' %}" alt="Logo GMX">
                            </figure>
                        </div>
                    </div>
                    <button class="main_section4_container_items_images_slider_buttonRight">></button>
                </div>
            </div>
        </section>




        <section class="main_section5">
            <h2 class="main_section5_h2"><span>ESTOS SON ALGUNOS</span><br>TESTIMONIOS<br>DE ÉXITO</h2>
        </section>




        <section id="main_section6" class="main_section2">
            <h1 class="main_section6_h1">¡TE ASESORAMOS DESDE INICIO A FIN DE MANERA GRATUITA!</h1>
            <hr class="main_section6_hr">
            <div class="section6_container_info">
                <div class="section6_container_info_item">
                    <figure class="section6_container_info_item_figure">
                        <img class="section6_container_info_item_img" src="{% static 'core/img/Venezia.webp' %}" alt="Foto de Venezia">
                        <span class="section6_container_info_item_span"><strong>VENEZIA</strong><br>Adquisición de Vivienda</span>
                    </figure>
                    <div class="section6_container_info_item_links_container">
                        <a href="https://www.facebook.com/reel/375787898679847" target="_blank" class="section6_container_info_item_links_infoA">VER VIDEO</a>
                    </div>
                </div>
                <div class="section6_container_info_item">
                    <figure class="section6_container_info_item_figure">
                        <img class="section6_container_info_item_img" src="{% static 'core/img/Susana_recorte.webp' %}" alt="Foto Susana">
                        <span class="section6_container_info_item_span"><strong>SUSANA</strong><br>Adquisición de Vivienda</span>
                    </figure>
                    <div class="section6_container_info_item_links_container">
                        <a href="https://www.facebook.com/reel/558545279719165" target="_blank" class="section6_container_info_item_links_infoA">VER VIDEO</a>
                    </div>
                </div>
                <div class="section6_container_info_item">
                    <figure class="section6_container_info_item_figure">
                        <img class="section6_container_info_item_img" src="{% static 'core/img/Elsa_recorte.webp' %}" alt="Logo Elsa">
                        <span class="section6_container_info_item_span"><strong>ELSA</strong><br>Adquisición de Terreno</span>
                    </figure>
                    <div class="section6_container_info_item_links_container">
                        <a href="https://www.facebook.com/reel/1319638642282889" target="_blank" class="section6_container_info_item_links_infoA">VER VIDEO</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
