{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/insuranceAdvisory.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Asesoría en seguros{% endblock %}


{% block content %}
    <main class="main">
        <section class="main_section1">
            <h1 class="main_section1_h1">ASESORÍA EN SEGUROS</h1>
            <hr class="main_section1_hr">
            <h3 class="main_section1_h3">Adquiere tu seguro y protege a los que mas quieres</h3>
            <a class="main_section1_a" href="#main_section3">OPCIONES DE ASESORÍA EN SEGUROS</a>
        </section>
        <section class="main_section2">
            <h2 class="main_section2_h2">¿EN QUE CONSISTE NUESTROS SERVICIOS?</h2>
            <h3 class="main_section2_h3">Ayudamos a cumplir tu sueño de vivir tranquilo y protegido, asegurando lo que más amas frente a cualquier imprevisto que se presente.</h3>
            <figure class="main_section2_figure_imageSold">
                <img class="main_section2_img" loading="lazy" src="{% static 'core/img/hug.webp' %}" alt="Dos mujeres en una junta de trabajo">
            </figure>
        </section>
        <section id="main_section3" class="main_section3">
            <h2 class="main_section3_h2">¿ESTAS INTERESADO?</h2>
            <hr class="main_section3_hr">
            <h3 class="main_section3_h3">¡Comunícate con nosotros, un asesor se contactara contigo lo mas rápido posible!</h3>
            <a class="main_section3_a" href="{% url 'contacto' %}">CONTACTO</a>
        </section>
    </main>
{% endblock %}