{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/landAcquisition.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Adquisición de terreno{% endblock %}

{% block content %}


    <main class="main">



        <section class="main_section1">
            <p class="main_section1_p">CRÉDITO HIPOTECARIO</p>
            <h1 class="main_section1_h1">ADQUISICIÓN<br>DE TERRENO</h1>
            <hr class="main_section1_hr">
        </section>



        <section class="main_section2">
            <h2 class="main_section2_h2">CONOCE EL CRÉDITO PARA ADQUISICIÓN DE TERRENO</h2>
            <hr class="main_section2_hr">
            <h3 class="main_section2_h3">Compra un terreno en la zona de tu interés, solo necesitas un 30% del valor del predio y si éste se encuentra en una zona de alta plusvalía, te pueden prestar hasta el 90% del financiamiento para su compra.</h3>
        </section>




        <section class="main_section3">
            <div class="main_section3_div">
                <h2 class="main_section3_div_h2">REQUISITOS Y CONDICIONES</h2>
                <div class="main_section3_div_container">
                    <ul class="main_section3_container_ul">
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">El terreno deberá contar con las características de urbanización y habitabilidad básicas que establezca el banco (como servicios de: suministro de energía eléctrica, abastecimiento y evacuación de agua a través de la red pública, etcétera).</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">El cliente deberá contar con una parte del valor del terreno para cubrir su costo total (30% aproximadamente).</li>
                        </div>

                    </ul>
                    <figure class="main_section3_container_figure">
                        <img src="{% static 'core/img/iconos/terreno_cube.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="main_section4">
            <div class="main_section4_div">
                <h2 class="main_section4_div_h2">¿POR QUÉ ASESORARSE CON ROGAFIN SONORA?</h2>
                <div class="main_section4_div_container">
                    <ul class="main_section4_container_ul">
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Ofrecemos una asesoría personalizada que permita obtener el producto financiero que mejor se adapte a su perfil y a sus necesidades.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Todas las opciones de financiamiento en un solo lugar.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Nos desplazamos al lugar y en el horario que sea más cómodo para el cliente.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Acompañamos en cada paso del proceso para que tenga mayor certidumbre y tranquilidad durante el trámite. Todo esto sin ningún costo.</li>
                        </div>

                    </ul>
                    <figure class="main_section4_container_figure">
                        <img src="{% static 'core/img/iconos/trabajo-en-equipo.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>



        <section class="main_section5">
            <div class="main_section5_container">
                <a href="{% url 'contacto' %}" class="main_section2_container_button">COTIZA TU CRÉDITO PARA ADQUISICIÓN DE VIVIENDA</a>
                <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="main_section5_container_button_WhatsappA"></a>
            </div>
        </section>

    </main>
{% endblock %}
