{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/mortgageRefinanceLiquidity.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Contacto{% endblock %}

{% block content %}


    <main class="main">



        <section class="main_section1">
            <p class="main_section1_p">CRÉDITO HIPOTECARIO</p>
            <h1 class="main_section1_h1">CAMBIO DE<br>HIPOTECA + LIQUIDEZ</h1>
            <hr class="main_section1_hr">
        </section>



        <section class="main_section2">
            <h2 class="main_section2_h2">CONOCE EL CRÉDITO PARA CAMBIO DE HIPOTECA + LIQUIDEZ</h2>
            <hr class="main_section2_hr">
            <h3 class="main_section2_h3">Cambia tu hipoteca de banco y obtén dinero adicional. Las condiciones actuales de tu financiamiento mejoran con una tasa de interés más baja o un pago total menor; además, recibirás liquidez para que lo ocupes en lo que requieras.</h3>
        </section>




        <section class="main_section3">
            <div class="main_section3_div">
                <h2 class="main_section3_div_h2">BENEFICIOS</h2>
                <div class="main_section3_div_container">
                    <ul class="main_section3_container_ul">
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Además de mejorar las condiciones de tu crédito hipotecario actual, puedes obtener financiamiento para liquidar deudas, hacer frente a una emergencia o cualquier otro proyecto en puerta que requiera liquidez.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Sin desembolso inicial al contar con la posibilidad de financiamiento para la comisión por apertura y los gastos notariales.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Deducibilidad de los intereses reales del crédito hipotecario.</li>
                        </div>

                    </ul>
                    <figure class="main_section3_container_figure">
                        <img src="{% static 'core/img/iconos/financiamiento.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="main_section4">
            <div class="main_section4_div">
                <h2 class="main_section4_div_h2">REQUISITOS Y CONDICIONES</h2>
                <div class="main_section4_div_container">
                    <ul class="main_section4_container_ul">
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Es recomendable que tengas al menos 12 meses con el crédito hipotecario que desea sustituir.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">No presentar atrasos en el pago de las mensualidades del crédito.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">El origen del crédito actual debe ser: adquisición, remodelación o construcción.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">El monto correspondiente al crédito de liquidez puede emplearse con destino libre.</li>
                        </div>

                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">La suma del crédito de sustitución + el crédito de liquidez no podrá rebasar el 85% del valor de la vivienda.</li>
                        </div>

                    </ul>
                    <figure class="main_section4_container_figure">
                        <img src="{% static 'core/img/iconos/financiar.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>




        <section class="main_section5">
            <div class="main_section5_div">
                <h2 class="main_section5_div_h2">¿POR QUÉ ASESORARSE CON ROGAFIN SONORA?</h2>
                <div class="main_section5_div_container">
                    <ul class="main_section5_container_ul">
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Ofrecemos asesoría personalizada que te permite obtener el producto financiero que mejor se adapte a tu perfil y a tus necesidades.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Nos desplazamos al lugar y en el horario que sea más cómodo para ti.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Acompañamos en cada paso del proceso para que tenga mayor certidumbre y tranquilidad durante el trámite. Todo esto sin ningún costo.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Todas las opciones de financiamiento en un sólo lugar.</li>
                        </div>

                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Nuestro servicio no tiene costo para ti porque lo cubre el banco que hayas elegido.</li>
                        </div>

                    </ul>
                    <figure class="main_section5_container_figure">
                        <img src="{% static 'core/img/iconos/ayudar.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>



        <section class="main_section6">
            <div class="main_section6_container">
                <a href="{% url 'contacto' %}" class="main_section6_container_button">COTIZA TU CRÉDITO PARA ADQUISICIÓN DE VIVIENDA</a>
                <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="main_section6_container_button_WhatsappA"></a>
            </div>
        </section>

    </main>
{% endblock %}
