{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/mortgageRefinancing.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Mejora de hipoteca{% endblock %}

{% block content %}


    <main class="main">



        <section class="main_section1">
            <p class="main_section1_p">CRÉDITO HIPOTECARIO</p>
            <h1 class="main_section1_h1">MEJORA DE<br>HIPOTECA</h1>
            <hr class="main_section1_hr">
        </section>



        <section class="main_section2">
            <h2 class="main_section2_h2">CONOCE EL CRÉDITO PARA MEJORA DE HIPOTECA</h2>
            <hr class="main_section2_hr">
            <h3 class="main_section2_h3">Cámbiate a un banco que te ofrezca mejores condiciones que tu hipoteca actual. Puedes bajar plazo, tasa de interés o mensualidad.</h3>
        </section>




        <section class="main_section3">
            <div class="main_section3_div">
                <h2 class="main_section3_div_h2">BENEFICIOS</h2>
                <div class="main_section3_div_container">
                    <ul class="main_section3_container_ul">
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Obtén hasta 100% del presupuesto de obra.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Diseña una casa a tu gusto y tus necesidades.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">La comisión por apertura puede ser financiada, aplica con Apoyo Infonavit</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Aplica con Apoyo Infonavit</li>
                        </div>

                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Disfruta de bajos costos en los gastos notariales</li>
                        </div>

                    </ul>
                    <figure class="main_section3_container_figure">
                        <img src="{% static 'core/img/iconos/planificacion.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="main_section4">
            <div class="main_section4_div">
                <h2 class="main_section4_div_h2">¿POR QUÉ ASESORARSE CON ROGAFIN SONORA?</h2>
                <div class="main_section4_div_container">
                    <ul class="main_section4_container_ul">
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Ofrecemos asesoría personalizada que te permite obtener el producto financiero que mejor se adapte a tu perfil y a tus necesidades.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Nos desplazamos al lugar y en el horario que sea más cómodo para ti.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Acompañamos en cada paso del proceso para que tenga mayor certidumbre y tranquilidad durante el trámite. Todo esto sin ningún costo.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Todas las opciones de financiamiento en un sólo lugar.</li>
                        </div>

                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Nuestro servicio no tiene costo para ti porque lo cubre el banco que hayas elegido</li>
                        </div>

                    </ul>
                    <figure class="main_section4_container_figure">
                        <img src="{% static 'core/img/iconos/unido.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>



        <section class="main_section5">
            <div class="main_section5_container">
                <a href="{% url 'contacto' %}" class="main_section2_container_button">COTIZA TU CRÉDITO PARA ADQUISICIÓN DE VIVIENDA</a>
                <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="main_section5_container_button_WhatsappA"></a>
            </div>
        </section>

    </main>
{% endblock %}
