{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'core/css/presale.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Preventa{% endblock %}

{% block content %}


    <main class="main">



        <section class="main_section1">
            <p class="main_section1_p">CRÉDITO HIPOTECARIO</p>
            <h1 class="main_section1_h1">PREVENTA</h1>
            <hr class="main_section1_hr">
        </section>



        <section class="main_section2">
            <h2 class="main_section2_h2">CONOCE EL CRÉDITO PARA PREVENTA</h2>
            <hr class="main_section2_hr">
            <h3 class="main_section2_h3">Adquiere tu casa o departamento en preventa con un crédito hipotecario. Tendrás la ventaja de conseguir un mejor precio del inmueble y un incremento en la plusvalía de éste. Además, los gastos notariales pueden disminuir considerablemente ya que se puede escriturar en obra negra.
            </h3>
        </section>




        <section class="main_section3">
            <div class="main_section3_div">
                <h2 class="main_section3_div_h2">BENEFICIOS</h2>
                <div class="main_section3_div_container">
                    <ul class="main_section3_container_ul">
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">El cliente podrá contar con la aprobación de su crédito antes de que el inmueble sea terminado.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Deducibilidad de los intereses reales del crédito hipotecario.</li>
                        </div>
                        
                        <div class="main_section3_container_ul_div">
                            <span>•</span>
                            <li class="main_section3_container_ul_li">Aplica con Apoyo Infonavit y Cofinavit.</li>
                        </div>

                    </ul>
                    <figure class="main_section3_container_figure">
                        <img src="{% static 'core/img/iconos/acuerdo.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="main_section4">
            <div class="main_section4_div">
                <h2 class="main_section4_div_h2">REQUISITOS Y CONDICIONES</h2>
                <div class="main_section4_div_container">
                    <ul class="main_section4_container_ul">
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">La disposición del crédito estará efectuada por ministraciones de acuerdo al avance de la obra.</li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Se aplica una comisión por las ministraciones dispuestas.
                            </li>
                        </div>
                        
                        <div class="main_section4_container_ul_div">
                            <span>•</span>
                            <li class="main_section4_container_ul_li">Para otorgar este crédito es necesario que la desarrolladora o constructora esté avalada por el banco.</li>
                        </div>

                    </ul>
                    <figure class="main_section4_container_figure">
                        <img src="{% static 'core/img/iconos/lista-de-verificacion.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>




        <section class="main_section5">
            <div class="main_section5_div">
                <h2 class="main_section5_div_h2">¿POR QUÉ ASESORARSE CON ROGAFIN SONORA?</h2>
                <div class="main_section5_div_container">
                    <ul class="main_section5_container_ul">
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Ofrecemos asesoría personalizada que te permite obtener el producto financiero que mejor se adapte a tu perfil y a tus necesidades.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Nos desplazamos al lugar y en el horario que sea más cómodo para ti.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Acompañamos en cada paso del proceso para que tenga mayor certidumbre y tranquilidad durante el trámite. Todo esto sin ningún costo.</li>
                        </div>
                        
                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Todas las opciones de financiamiento en un sólo lugar.</li>
                        </div>

                        <div class="main_section5_container_ul_div">
                            <span>•</span>
                            <li class="main_section5_container_ul_li">Nuestro servicio no tiene costo para ti porque lo cubre el banco que hayas elegido.</li>
                        </div>

                    </ul>
                    <figure class="main_section5_container_figure">
                        <img src="{% static 'core/img/iconos/rompecabezas.webp' %}" alt="">
                    </figure>
                </div>
            </div>
        </section>



        <section class="main_section6">
            <div class="main_section6_container">
                <a href="{% url 'contacto' %}" class="main_section6_container_button">COTIZA TU CRÉDITO PARA ADQUISICIÓN DE VIVIENDA</a>
                <a href="https://api.whatsapp.com/send/?phone=%2B526622785989&text&type=phone_number&app_absent=0" target="_blank" class="main_section6_container_button_WhatsappA"></a>
            </div>
        </section>

    </main>
{% endblock %}
